body {
  padding: 30px;
  background-color: #efefef;
  font-family:'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

svg {
  border: 1px dotted black;
}

.center {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}

.pad {
  padding-top: 3em;
  padding-bottom:1em;
}

.description{
  font-size: 1.2em;
  font-variant: small-caps;
}

.number {
  font-size: 3em;
  opacity: 0.5;
}

.pulse {
  height: 100px;
  width: 100px;
  border: none;
  stroke: #6A6A6A;
  fill: none;
}
