{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1><br>
    <h5>By creating a visual representation of live information from social media sites, users can gain amore streamlined understanding of how their social presence is currently trending.</h5><br>
    <h6>This display calculates the difference between posts per second and accordingly adds or removes chunks from the view.</h6><br>

    <svg id="twitter-bowl" width="900" height="200"></svg>
    <div id="twitter"></div>

    <svg id="insta-bowl" width="900" height="200"></svg>
    <div id="insta"></div>

  </div>

<!--     <div class="row">
      <div class="col-sm-12 col-md-6 center">
        <svg id="twitter-bowl" width="900" height="600"></svg>
        <div id="twitter"></div>
      </div>
      <div class="col-sm-12 col-md-6 center">
        <svg id="insta-bowl" width="900" height="600"></svg>
        <div id="insta"></div>
      </div>
    </div> -->


{% endblock %}
