body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.graph {
  width: 700px;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
}
