body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.area {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

svg {
  border: 1px solid black;
}
